.choose-us
    margin-top: 75vw

    .bubbles
        display: flex
        align-items: flex-start
        justify-content: space-evenly
        margin-top: 50px

        .bubble
            width: 150px
            height: 150px
            border-radius: 50%
            border: 2px solid rgba($color_d, 0.6)
            position: relative
            display: flex

            &:nth-child(2)
                margin-top: 100px
                

            .content
                margin: auto

                p
                    width: 100%
                    text-align: center
                    margin: 0

                .icon
                    width: auto
                    height: 60px
                    margin: 10px

            span
                position: absolute
                top: -30px
                left: -15px
                font-size: 45px
                opacity: 0.5

    @media screen and (max-width: 1200px)
        margin-top: 180px

        .bubbles
            justify-content: space-around

    @media screen and (max-width: 768px)
        .bubbles
            justify-content: space-between
            margin-top: 150px

            .bubble

                &:nth-child(2)
                    margin-top: 0

                .content
                    margin: 0
                    width: 100%
                    height: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    position: relative

                    p
                        position: absolute
                        bottom: -70px
                        left: 0
                        font-size: 22px

                    .icon
                        width: auto
                        height: 40%

                span
                    top: -80px
                    left: 0
                    font-size: 55px
                    width: 100%
                    text-align: center

    @media screen and (max-width: 600px)
        .bubbles
            margin-top: 100px
            
            .bubble
                width: 20vw
                height: 20vw

                .content

                    p
                        font-size: 16px

                span
                    font-size: 35px
                    top: -60px


