html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  background-color: #e8e1cf;
  color: #564322;
  width: 100vw;
}

h2 {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.fixed-width {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1250px) {
  .fixed-width {
    padding: 0 50px;
    width: calc(100% - 100px);
    margin: 0;
  }
}

.section {
  margin-top: 250px;
}

h2 + p {
  width: calc(100% - 605px);
  text-align: left;
  margin-top: -20px;
  font-size: 22px;
  margin-left: 605px;
}
@media screen and (max-width: 1250px) {
  h2 + p {
    width: auto;
    margin-left: 51%;
  }
}

.cursive {
  font-family: "Kalam", cursive;
  font-weight: bold;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.button {
  text-decoration: none;
  transition-duration: 0.3s;
}
.button:hover {
  box-shadow: 0px 0px 12px black;
}
.button:active {
  box-shadow: 0px 0px 30px black;
  font-weight: bold;
}

.hide {
  display: none !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto !important;
  margin-bottom: 100px !important;
  font-weight: 500;
  font-size: 18px;
  height: 60px;
  padding: 0;
}
header a {
  text-decoration: none;
  color: initial;
}
header .logo {
  width: 50px;
  height: 50px;
}
header .logo figure {
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0 20px;
  transition-duration: 0.5s;
}
header nav ul li.back {
  display: none;
}
header nav ul li:hover {
  transform: scale(1.2);
}
header .tel {
  opacity: 0.5;
}
header .icons {
  display: none;
}
@media screen and (max-width: 1250px) {
  header {
    margin: 30px 0 !important;
    margin-bottom: 100px !important;
  }
}
@media screen and (max-width: 680px) {
  header nav {
    position: fixed;
    z-index: 1;
    right: -220px;
    top: 0;
    width: 220px;
    height: 150vh;
    background-color: #ced2d3;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 0px #564322;
  }
  header nav.active {
    right: 0;
    box-shadow: -2px -2px 20px #564322;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    display: block;
  }
  header nav ul li {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 28px;
    display: block;
    text-align: left;
  }
  header nav ul li.back {
    display: block;
    text-align: left;
  }
  header nav ul li.back a {
    display: block;
  }
  header nav ul li.back a figure {
    height: 25px;
    width: 25px;
  }
  header .tel {
    display: none;
  }
  header .icons {
    display: flex;
    height: 100%;
    align-items: center;
  }
  header .icons .icon {
    width: auto;
    margin-left: 20px;
  }
  header .icons .icon.phone {
    height: 80%;
    transform: rotateZ(235deg);
  }
  header .icons .icon.burger {
    height: 50%;
  }
  header .icons .icon figure {
    height: 100%;
    width: auto;
  }
}

.hero figure.main-image {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero figure.main-image img {
  width: auto;
  height: 100%;
}
.hero .grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 4fr 3fr 0.2fr;
}
.hero .grid .title h1 {
  font-size: 160px;
  color: #e8e1cf;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #564322;
  margin: 0;
  padding: 0;
}
.hero .grid .title h1 span {
  margin-left: 10px;
}
.hero .grid .title p {
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
  margin-left: 500px;
  margin-top: -38px;
  font-size: 25px;
}
.hero .grid .wrapper-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .grid .wrapper-cta .cta {
  text-align: center;
}
.hero .grid .wrapper-cta .cta .wrapper-circle {
  display: none;
}
.hero .grid .wrapper-cta .cta p.rounded {
  display: none;
}
.hero .grid .wrapper-cta .cta a {
  text-decoration: none;
  color: #564322;
  background-color: #A1C2C3;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 600;
}
.hero .grid .wrapper-cta .cta .icon {
  width: 100%;
  height: 30px;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .grid .wrapper-cta .cta .icon figure {
  margin-right: -25px;
  width: 30px;
  height: auto;
}
.hero .grid .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 100%;
  opacity: 0.5;
}
.hero .grid .arrow figure {
  width: 100%;
  height: 40%;
}
@media screen and (max-width: 1250px) {
  .hero .grid {
    grid-template-columns: 4fr 3fr;
  }
  .hero .grid .arrow {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .hero .grid {
    display: block;
    padding: 0;
    width: 100%;
  }
  .hero .grid .title {
    text-align: center;
  }
  .hero .grid .title p {
    margin-left: 0;
    text-align: right;
    width: 80%;
    width: 575px;
    margin: 0 auto;
    margin-top: -38px;
  }
  .hero .grid .wrapper-cta {
    width: 100%;
  }
  .hero .grid .wrapper-cta .cta {
    position: relative;
    width: 100%;
  }
  .hero .grid .wrapper-cta .cta a {
    border-radius: 0;
    width: 100%;
    text-align: center;
    display: block;
    padding: 20px 0px;
    margin: 48px 0;
    font-size: 22px;
  }
  .hero .grid .wrapper-cta .cta .icon {
    display: none;
  }
  .hero .grid .wrapper-cta .cta p.regular {
    display: none;
  }
  .hero .grid .wrapper-cta .cta p.rounded {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
  }
  .hero .grid .wrapper-cta .cta .wrapper-circle {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .hero .grid .wrapper-cta .cta .wrapper-circle .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #564322;
  }
}
@media screen and (max-width: 680px) {
  .hero figure.main-image {
    width: calc(100% - 202px);
    height: 1140px;
  }
  .hero .grid .title h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -35px;
    position: absolute;
    right: 0;
    top: 80px;
  }
  .hero .grid .title > p {
    display: none;
  }
}

.about-us .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  align-items: center;
  margin-top: 50px;
}
.about-us .grid .text p {
  text-align: center;
  margin-bottom: 0;
}
.about-us .grid .text a {
  text-align: right;
  text-decoration: none;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  color: #564322;
}
.about-us .grid .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.about-us .grid .gallery figure {
  width: 100%;
  height: 170px;
}
.about-us .grid .gallery figure:nth-child(1) {
  grid-column: 1/4;
}
@media screen and (max-width: 1200px) {
  .about-us .grid {
    display: block;
  }
  .about-us .grid .gallery {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    column-gap: 0;
  }
  .about-us .grid .gallery figure {
    width: 80%;
    min-width: 80%;
    height: 550px;
    margin: 20px;
    overflow: hidden;
  }
  .about-us .grid .gallery figure img {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .about-us .grid .gallery {
    width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
  }
  .about-us .grid .gallery figure {
    margin: 10px;
    height: 450px;
  }
}

.tours .cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  margin-top: 60px;
}
.tours .cards .card {
  border-radius: 20px;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 0px 3px #564322;
  width: 100%;
  min-width: 100%;
}
.tours .cards .card figure {
  width: 100%;
  min-width: 100%;
  height: 200px;
  margin: 0 auto;
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  overflow: hidden;
}
.tours .cards .card figure img {
  height: 100%;
  width: auto;
}
.tours .cards .card h3 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #E7E1C1;
  margin-bottom: 25px;
  padding: 10px 0;
}
.tours .cards .card .details .detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
.tours .cards .card .details .detail p {
  margin: 0;
}
.tours .cards .card .details .detail .icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.tours .cards .card .details .detail.date .icon {
  background-image: url("../imgs/icon-date-brown.svg");
}
.tours .cards .card .details .detail.country .icon {
  background-image: url("../imgs/icon-country-brown.svg");
}
.tours .cards .card .details .detail.location .icon {
  background-image: url("../imgs/icon-location-brown.svg");
}
.tours .cards .card .details .detail.excursion .icon {
  background-image: url("../imgs/icon-excursion-brown.svg");
}
.tours .cards .card .details .detail.bus .icon {
  background-image: url("../imgs/icon-bus.svg");
}
.tours .cards .card .details .detail.plane .icon {
  background-image: url("../imgs/icon-plane.svg");
}
.tours .cards .card .cta {
  width: 100%;
  margin: 0 auto;
}
.tours .cards .card .cta span.price {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 600;
}
.tours .cards .card .cta a {
  display: block;
  width: 100%;
  background-color: #564322;
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  padding: 6px 0;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
@media screen and (max-width: 1250px) {
  .tours .cards {
    column-gap: 30px;
  }
  .tours .cards .card {
    height: 580px;
    min-height: 580px;
  }
  .tours .cards .card .cta {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 1050px) {
  .tours .cards .card {
    height: 630px;
    min-height: 630px;
  }
}
@media screen and (max-width: 900px) {
  .tours .cards {
    grid-template-columns: 1fr;
    row-gap: 50px;
    column-gap: 0;
  }
  .tours .cards .card {
    width: 390px;
    min-width: 390px;
    margin: 0 auto;
    height: auto;
    min-height: auto;
  }
  .tours .cards .card .cta {
    position: initial;
  }
}
@media screen and (max-width: 450px) {
  .tours .cards .card {
    width: 300px;
    min-width: 300px;
  }
}

.spain {
  position: relative;
}
.spain .images {
  width: 100vw;
  position: relative;
  left: 0;
}
.spain .images .vector {
  opacity: 0.8;
}
.spain .images .arrow {
  width: 24%;
  height: auto;
  position: absolute;
  top: -95px;
  margin-left: 45%;
}
.spain .images .country {
  position: absolute;
  left: 0;
  width: 40%;
  height: auto;
}
.spain .images .details {
  position: absolute;
  right: -3vw;
  width: 40%;
  top: 20vw;
}
.spain .images .bg {
  position: absolute;
  top: -290px;
  z-index: -1;
}
.spain .cta {
  position: absolute;
  width: 30%;
  right: 0;
  top: 54vw;
}
.spain .cta p {
  font-size: 1.5vw;
  text-align: center;
}
.spain .cta .arrow {
  width: 2vw;
  position: absolute;
  top: 4vw;
  left: 1vw;
}
.spain .cta .icon {
  width: 3vw;
  height: auto;
  position: absolute;
  bottom: -2vw;
  right: 4vw;
  opacity: 0.6;
}
.spain .cta a {
  font-size: 2vw;
  text-decoration: none;
  color: black;
  border: 0.3vw solid #A1C2C3;
  border-radius: 55px;
  padding: 0.3vw 5vw;
  background-color: white;
  display: block;
  width: 5vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 6vw;
}
@media screen and (max-width: 2000px) {
  .spain .cta {
    top: 50vw;
  }
}
@media screen and (max-width: 1700px) {
  .spain .images .arrow {
    margin-left: 50%;
  }
}
@media screen and (max-width: 1500px) {
  .spain .cta {
    top: 52vw;
  }
  .spain .cta .arrow {
    left: -3vw;
    width: 40px;
  }
  .spain .cta p {
    font-size: 30px;
  }
  .spain .cta a {
    font-size: 35px;
    border: 6px solid #A1C2C3;
  }
}
@media screen and (max-width: 1200px) {
  .spain .images .arrow, .spain .images .details {
    display: none;
  }
  .spain .images .country {
    position: initial;
    left: 0;
    width: 480px;
    left: initial;
    margin: 0 auto;
  }
  .spain .images .bg {
    top: -220px;
    height: 1040px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .spain .images .bg img {
    width: auto;
    height: 100%;
  }
  .spain .cta {
    width: 100%;
    position: initial;
  }
  .spain .cta .arrow, .spain .cta .icon {
    display: none;
  }
  .spain .cta a {
    width: 60px;
    padding: 15px 70px;
  }
}
@media screen and (max-width: 600px) {
  .spain .images .country {
    width: 80%;
  }
  .spain .images .bg {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .spain .cta p {
    font-size: 20px;
  }
}

.choose-us {
  margin-top: 75vw;
}
.choose-us .bubbles {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 50px;
}
.choose-us .bubbles .bubble {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(86, 67, 34, 0.6);
  position: relative;
  display: flex;
}
.choose-us .bubbles .bubble:nth-child(2) {
  margin-top: 100px;
}
.choose-us .bubbles .bubble .content {
  margin: auto;
}
.choose-us .bubbles .bubble .content p {
  width: 100%;
  text-align: center;
  margin: 0;
}
.choose-us .bubbles .bubble .content .icon {
  width: auto;
  height: 60px;
  margin: 10px;
}
.choose-us .bubbles .bubble span {
  position: absolute;
  top: -30px;
  left: -15px;
  font-size: 45px;
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map */
